@font-face {
  font-family: "AlegreyaSC-Bold";
  src: url(./AlegreyaSC-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AlegreyaSansSC";
  src: url(./AlegreyaSansSC-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-VariableFont_wght.ttf");
}

:root {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Montserrat";
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}

header a {
  text-decoration: none;
}

.hero {
  background: center / cover no-repeat url("./AI_TACOS_gradated2.png");
  width: 100vw;
  height: 80vh;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
}

p {
  font-weight: 500;
}

h1 {
  font-family: "AlegreyaSC-Bold";
  font-size: 3rem;
  margin-top: 125px;
}

.hero h2 {
  font-family: "AlegreyaSansSC";
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

#imageGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 3rem 0;
}

#images {
  min-width: 240px;
  max-width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 400px;
  grid-auto-rows: 400px;
  grid-gap: 2rem;
}

#images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

button {
  color: white;
  background-color: black;
  padding: 1rem;
}

footer hr {
  width: 50%;
  border: 1px solid black;
}

footer img {
  max-width: 150px;
}
